body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    margin: 15px;
    
}
h1{
    color: rgb(19, 18, 18);
    font-family: "Poppins", sans-serif;
    
}
#titulo:hover{
    box-shadow: 0 0 150px rgb(242, 245, 245);
}
h2{
    color: rgb(19, 18, 18);
    font-family: "Poppins", sans-serif;
}

h3 {
    color: rgb(19, 18, 18);
    font-family: "Poppins", sans-serif;
}



input {
    width: 70%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ccc; /* Borda */
    border-radius: 5px; /* Cantos arredondados */
    outline: none; /* Remove o contorno ao focar */
    margin: auto;
}

input:focus {
    border-color: #007BFF; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
}


.conv{
        background-color: #15ff00; /* Cor de fundo */
        color: rgb(0, 0, 0); /* Cor do texto */
        padding: 10px 20px; /* Espaçamento interno */
        border: aliceblue 3px ; /* Remove a borda */
        border-style: ridge;
        border-radius: 5px; /* Cantos arredondados */
        font-size: 16px; /* Tamanho da fonte */
        cursor: pointer; /* Muda o cursor para um ponteiro */
        transition: background-color 0.3s ease; /* Transição suave */
        margin: auto;
}
.conv:hover {
    background-color: #0e6d05 /* Cor de fundo ao passar o mouse */
}
.conv:active {
    background-color: #82f078c7; /* Cor de fundo ao clicar */
}
.conv:focus {
    outline: none; /* Remove o contorno ao focar */
    box-shadow: 0 0 10px rgba(251, 252, 252, 0.5); /* Sombra ao focar */
}



.placas{
    background-color: beige;
    border: 7px;
    border-color:  silver;
    border-style: ridge ;
    border-radius: 15px;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:auto;
    margin: auto;
}

.result{
    background-color: beige;    
    border: 10px ridge silver;
    border-radius: 15px;
    opacity: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    margin: auto;
    width: 100%;

}

#fundo{
    background-image: url('MATRIX.png');
    height:2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    display: grid;
    justify-content: center;

    gap: 1px;
    
}

#calc{
    visibility: hidden;
}
.calc{
    height: 350px;
    background-color: beige;
    border: 7px;
    border-color:  silver;
    border-style: ridge ;
    border-radius: 15px;
    opacity: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:auto;
    margin: auto;
}
.soun{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.base{
    
    justify-content: center;
    align-items: center;
    
}

select {
    width: 200px;          /* Define a largura do select */
    padding: 8px;          /* Adiciona um espaço interno (dentro do select) */
    font-size: 16px;       /* Define o tamanho da fonte */
    border: 2px solid #ccc; /* Borda do select */
    border-radius: 4px;    /* Bordas arredondadas */
    background-color: #f9f9f9; /* Cor de fundo */
    color: #333;           /* Cor do texto */
}

    select:hover {
    border-color: #00ff4c;  /* Cor da borda ao passar o mouse */
}